html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    font-family: 'Unbounded', cursive;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

header {
    text-align: center;
}

.nav__navigateList {
    list-style: none;
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
    margin: 10px 0;
}

.nav__navigateList:hover {
    color:rgb(239, 127, 26);
}